################################################################################################################## 
#                                      Settings for Automated Deployment                                         #
################################################################################################################## 
# Contains Key Value pairs delimited by |
# Note: If you specify only file name, the file will be created/searched in the location where the executable file
#       is running from.
#-----------------------------------------------------------------------------------------------------------------
# LogFileLocation:  Absolute path of the log file where logs will be written 
#                   by the service about successful deployment or exceptions
#            Note:  Comment this line by adding # at the beginning to write to default log file - app_log.txt
#-----------------------------------------------------------------------------------------------------------------
LogFileLocation|C:\Projects\AD_Sandbox\log.txt
#-----------------------------------------------------------------------------------------------------------------
# PolingDuration: The polling duration in milliseconds
#-----------------------------------------------------------------------------------------------------------------
PollingDuration|10000
#-----------------------------------------------------------------------------------------------------------------
#
###################################################################################################################
# Deployment Job Details 
###################################################################################################################
# 1st Param - Must start with the key - "DeploymentParams"
# 2nd Param - DeploymentJob ID (Should be unique across the file), used to identify your job
# 3rd Param - Location of the batch file which will be run when deployment job runs
# 4th Param - Location of deployment file (to be monitored for change in file size of modfied date)
#------------------------------------------------------------------------------------------------------------------
DeploymentParams|PaymentApi|C:\Projects\AD_Sandbox\api.bat|C:\Projects\AD_Sandbox\paymentapi.zip
#------------------------------------------------------------------------------------------------------------------
DeploymentParams|TurboWebsite|C:\Projects\AD_Sandbox\website.bat|C:\Projects\AD_Sandbox\website.zip
#------------------------------------------------------------------------------------------------------------------